

body {
  background-color: #757575;
  background-image:  url('https://images.unsplash.com/photo-1558030018-d461fe79233e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  height: 100px;
  text-align: center;
}

nav {
  background-color: rgba(26, 26, 26, 0.336);
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

main {
  height: 350px;
  text-align: center;
  padding-top: 30px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  background-color: rgba(5, 5, 5, 0.37);
}

h1 {
  font-size: 80px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

footer p {
  text-align: center;
  margin: 3em;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #c7c7c7;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.maps {
  text-align: center;
}